{% extends "project/dashboard.html" %}

{% block styles %}
<style>
    .container {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .form-group label {
        font-weight: bold;
    }
    /* Additional styles to ensure same view on mobile as on desktop */
    .form-group {
        display: flex;
        flex-direction: column;
    }

    .form-group label {
        order: -1;
        margin-bottom: 0.5rem;
    }

    .form-group textarea {
        width: 100%;
        max-width: 100%;
    }

    /* Additional styles to ensure full width */
    #project-form .form-group {
        width: 100%;
    }

    #project-form .form-control {
        width: 100%;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        border-radius: 10px;
    }

    .form-group input:focus,
    .form-group select:focus,
    .form-group textarea:focus {
        box-shadow: none;
    }

    .task-card {
        border-radius: 10px;
        background-color: #f9f9f9;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .btn-edit {
        float: right;
    }

    .btn-primary,
    .btn-secondary {
        border-radius: 10px;
        width: 100%;
    }

    .task-actions .btn {
        width: auto;
        margin-top: 5px;
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: #e9ecef;
        opacity: 1;
    }
</style>
{% endblock %}

{% block middle_column %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="container">
    <h3 class="form-title">Details of "{{ project.title }}"</h3>
    {% if is_owner %}
    <a id="go-to-dashboard-button" class="btn btn-secondary btn-back nav-link mb-3" href="/dashboard">Go to
        Dashboard</a>
    <button id="edit-button" class="btn btn-primary btn-edit mb-3">Edit</button>
    {% endif %}
    <form method="post" id="project-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_description">Description</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="id_due_date">Due Date</label>
            {{ form.due_date }}
        </div>
        <div class="form-group">
            <label for="id_state">State</label>
            {{ form.state }}
        </div>
        <div class="form-group">
            <label for="id_is_public">Is Public</label>
            {{ form.is_public }}
        </div>
        <button type="submit" name="action" value="edit_project" class="btn btn-primary btn-save-change"
            id="save-button" style="display:none;">Save Changes</button>
        <button type="button" class="btn btn-secondary" id="cancel-edit-button" style="display:none;">Cancel</button>
    </form>

    <h3 class="mt-4" id="task_name">Tasks</h3>
    {% if is_owner %}
    <button id="add-task" class="btn btn-primary mb-3" style="display:none;">Add New Task</button>
    <div id="task-form-container" style="display:none;">
        <form method="post" id="task-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Title</label>
                {{ task_form.title }}
            </div>
            <div class="form-group">
                <label for="id_description">Description</label>
                {{ task_form.description }}
            </div>
            <div class="form-group">
                <label for="id_due_date">Due Date</label>
                {{ task_form.due_date }}
            </div>
            <div class="form-group">
                <label for="id-state">State</label>
                {{ task_form.status }}
            </div>
            <button type="submit" name="action" value="add_task" class="btn btn-primary btn-save-task">Save
                Task</button>
            <button type="button" class="btn btn-secondary" id="cancel-task-button">Cancel</button>
        </form>
    </div>
    {% endif %}
    {% if not has_tasks %}
    <p>No tasks created for this project.</p>
    {% else %}
    <div id="tasks-container">
        {% for task in tasks %}
        <div class="task-card">
            <h4>{{ task.title }}</h4>
            <p>{{ task.description }}</p>
            <p>Due date: {{ task.due_date|date:"Y-m-d" }}</p>
            <p>Status: {{ task.get_status_display }}</p>
            <div class="task-actions" style="display:none;">
                {% if task.status == 'T' or task.status == 'I' %}
                <button class="btn btn-success change-status" data-task-id="{{ task.id }}" data-new-status="D">Mark as
                    Done</button>
                {% endif %}
                {% if task.status == 'T' or task.status == 'D' %}
                <button class="btn btn-info change-status" data-task-id="{{ task.id }}" data-new-status="I">Mark as In
                    Progress</button>
                {% endif %}
                <button class="btn btn-danger delete-task" data-task-id="{{ task.id }}">Delete</button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        // Initialize datepickers for project and task due dates
        $('#id_due_date, #id_task_due_date').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });

        // Restrict input to numbers only for project and task due dates
        $('#id_due_date, #id_task_due_date').on('keypress', function (event) {
            const charCode = event.charCode;
            if ((charCode >= 48 && charCode <= 57) || charCode === 45) {
                // Allow numbers (0-9) and '-'
                return true;
            } else {
                // Prevent other characters
                event.preventDefault();
                return false;
            }
        });

        // Limit input to numbers only for project and task due dates
        $('#id_due_date, #id_task_due_date').on('input', function () {
            this.value = this.value.replace(/[^0-9\-]/g, '');
        });

        // Prevent past dates for project and task due dates
        $('#id_due_date, #id_task_due_date').on('change', function () {
            const selectedDate = new Date(this.value);
            const currentDate = new Date();
            if (selectedDate < currentDate) {
                alert('Please select a future date');
                this.value = '';
            }
        });

        // Initially disable all form fields
        $('#project-form input, #project-form select, #project-form textarea').prop('disabled', true);

        // Toggle edit mode
        $('#edit-button').click(function () {
            $('#project-form input, #project-form select, #project-form textarea').prop('disabled', false);
            $('#edit-button').hide();
            $('#go-to-dashboard-button').hide();
            $('.btn-save-change').show();
            $('#add-task').show();
            $('#cancel-edit-button').show();
            $('.task-actions').show();
        });

        // Show task form on 'add task button' click
        $('#add-task').click(function () {
            $('#task-form-container').show();
            $('.btn-save-change').hide();
            $('#add-task').hide();
            $('#project-form input, #project-form select, #project-form textarea').prop('disabled', true);
            $('.task-actions').hide();
            $('#cancel-edit-button').hide();
            $('#task_name').text('Add New Task');

        });

        // Cancel editing project
        $('#cancel-edit-button').click(function () {
            $('#project-form')[0].reset();
            $('#project-form input, #project-form select, #project-form textarea').prop('disabled', true);
            $('#edit-button').show();
            $('#go-to-dashboard-button').show();
            $('.btn-save-change').hide();
            $('#cancel-edit-button').hide();
            $('#add-task').hide();
            $('#task-form-container').hide();
            $('.task-actions').hide();
        });

        // Cancel adding task
        $('#cancel-task-button').click(function () {
            $('#task-form')[0].reset();
            $('#task-form-container').hide();
            $('#edit-button').show();
            $('#task_name').text('Tasks');
        });

        // Save adding task
        $('.btn-save-task').click(function () {
            $('#task_name').text('Tasks');
        });

        // Change task status
        $('.change-status').click(function () {
            const taskId = $(this).data('task-id');
            const newStatus = $(this).data('new-status');
            $.ajax({
                type: 'POST',
                url: `{% url 'change_task_status' %}`,
                data: {
                    'task_id': taskId,
                    'new_status': newStatus,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert('There was an error changing the task status.');
                }
            });
        });

        // Delete task
        $('.delete-task').click(function () {
            const taskId = $(this).data('task-id');
            $.ajax({
                type: 'POST',
                url: `{% url 'delete_task' %}`,
                data: {
                    'task_id': taskId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert('There was an error deleting the task.');
                }
            });
        });
    });
</script>
{% endblock %}